<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
   
</head>
<body>
  <%- include('nav.html') %>

      <h4 class="container mt-4"><strong>do List Page</strong></h4>

      <div class= "container mt-3">
        <ul class="list-group"> 
      
        </ul>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

       <script>
         $.ajax({
           method : 'DELETE',
           url : '/delete',
           data: {_id : 1}
         }).done(function(result){

         });
       </script>
    

   
     <script src="/js/bootstrap.min.js"></script>
</body>
</html>